
span {

  }
  
  .sidebar {
    height: 100vh;
    background-color: #011826;
    color: white !important;

  }
  
  .sidepad {
    margin: auto;
    text-align: center;
    width: 80%;
    margin-bottom: 20px;
  }
  
  .profilepic {
    height: 100px;
    width: 100px;
    margin: auto;
    border-radius: 100%;
    background-size: cover;
    border-width: 10px;
    border-color: white;
    margin-bottom: 15px;
  }
  
  .proflink {
    padding: 7px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    color: #dddddd;
  }

  .name {
    margin-top:-120px;
    font-family: 'Jua', sans-serif;
    font-size: 24px;
  }
  
  .proflink:hover {
    color: rgb(255, 230, 0);
  }
  
  .cover {
    width: 100%;
    height: 200px;
    background-color: red;
    background-size: cover;
  }

  
table, th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    border-collapse: collapse;
    text-align: left;
    width: 100%;
   }
  
   th {
    height: 30px;
   }
   thead {
    background-color:rgb(255, 217, 0);
    color: rgb(0, 0, 0);
   }
   tr:nth-child(even) {
    background-color: #f0f0f0;
  
    }
    td:nth-child(3) {
    text-align: center;
    }  
  
    td:nth-child(1){
      width: 60%;
    }
    td:nth-child(2){
      width: 40%;
    }
    table {
      margin-bottom: 20px;
    }