@import url('https://fonts.googleapis.com/css2?family=Jua&family=Lato:wght@400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}
* {
  font-family: 'Lato', sans-serif;
}


h1, h2, h3 {
  font-weight: 800;
  color: #010326;
}
.modal {

  width: 100px;
  height: 500px;
  background-color: white;
  margin: 20px;
}

.dblue {
  background-color: #010326;
  color: white;
  position: fixed;
}

.navlink {
  font-weight: bold;
  cursor: pointer;
}

.navlink div:hover {
  background-color: #021140;
}

.logo {
  height: 40px;
  margin: 10px;
}


.logo:hover .navlink {
  padding-top: 5px;
}

#home {
  height: 100vh;
  background-size: cover;
}

.intro {
  padding-top: 40vh;
  text-align: right;
}
